<ion-view view-title="About">
  <ion-content  class="content_background">

    <div class="list">
      <label class="item item-divider">
        Contributors
      </label>
      <label class="item item-avatar">
        <img src="https://avatars1.githubusercontent.com/u/11605385?v=3&s=400" />
        <h2>Anderson Singh</h2>
        <p>https://github.com/AndersonSingh</p>
      </label>
      <label class="item item-avatar">
        <img src="https://avatars0.githubusercontent.com/u/12530462?v=3&s=460" />
        <h2>Mikkel Hayes</h2>
        <p>https://github.com/Lex1con</p>
      </label>
      <label class="item item-avatar">
        <img src="https://avatars3.githubusercontent.com/u/2001345?v=3&s=460" />
        <h2>Kyle E. De Freitas</h2>
        <p>https://github.com/kyledef</p>
      </label>
      <label class="item item-divider item-button-right divider-action">
        Noun Project Icon Credits
        <a class="button button-light" href="#" onclick="window.open('https://thenounproject.com/', '_system', 'location=yes'); return false;">
          <i class="icon ion-arrow-right-c"></i>
        </a>
      </label>
      <label class="item item-stacked-label">
        House by Nadir Balcikli from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Add Document by Agus Purwanto from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Document by Wilson Joseph from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Mortar Board by Michele Zamparo from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Certificate by Marco Galtarossa from the Noun Project
      </label>
      <label class="item item-stacked-label">
        University by Gerald Wildmoser from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Log Out by Jardson Almeida from the Noun Project
      </label>
      <label class="item item-stacked-label">
        Information by Aha-Soft from the Noun Project
      </label>
    </div>

  </ion-content>
</ion-view>
