<ion-view view-title="Add/Edit My Course">
  <ion-content ng-init="init();" class="content_background">

    <!-- this displays a list of current courses in the system -->
    <label class="item item-input item-select">
      <div class="input-label">
        Course
      </div>
      <select ng-model="course">
        <option ng-repeat="(key, value) in courses">{{key}}</option>
      </select>
    </label>

    <!-- this displays a list of grades -->
    <label class="item item-input item-select">
      <div class="input-label">
        Grade
      </div>
      <select ng-model="grade">
        <option ng-repeat="(key, value) in grades">{{key}}</option>
      </select>
    </label>

    <!-- this displays the course start date -->
    <label class="item item-input item-select">
      <div class="input-label">
        Course Start Date
      </div>
      <input ng-model="startDate" type="date">
    </label>

    <div class="padding">
      <button class="button button-block button-positive" ng-hide="!edit" ui-sref="app.view-course-assessments({key : key})">
        View Assessments
      </button>
      <button class="button button-block button-positive" ng-click="save(course, grade, startDate);">
        Save
      </button>
    </div>

  </ion-content>
</ion-view>
